/*
https://yaleidentity.yale.edu/web for the colors.
http://gracehopper.yalecollege.yale.edu/grace-hopper-college
*/

/*
Primary Color Palette:

Blues:
#00356b -- Yale Blue --
#286dc0
#63aaff

Grays:
#222222
#4a4a4a
#978d85
#dddddd
#f9f9f9

Accent Colors:
#5f712d
#bd5319
*/

article {
  margin: 1em;
  color: #4a4a4a;
}

article, main {
  padding: 1em;
}

body {
  background-color: #dddddd;
}

footer {
  margin: 1em;
}

h1, h2 {
  color: #00356b;
  text-align: center;
  margin: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

main {
  margin: 1em;
}

p {
  font-size: 1.25em;
}

small {
  font-size: 0.75em;
  color: #222222;
}

sub {
  vertical-align: sub;
}


/* Make the site responsive with media queries */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
}
